@(pageDetails:PageDetails)

@main("Welcome to TEST Blog")(pageDetails){
	<div class="span8">
				<div class="row">
					<div class="span6">
						<div>
						  <h4>Welcome to TEST Blog</h4>
							Control states and more Bootstrap's forms include styles for all
							the base form controls like input, textarea, and select you'd
							expect. But it also comes with a number of custom components like
							appended and prepended inputs and support for lists of
							checkboxes. States like error, warning, and success are included
							for each type of form control. Also included are styles for
							disabled controls.
						</div>
					</div>
					</br> </br> </br>
					<div class="span6">
						<div id="trending">
							<h4>Featured Aritcles</h4>
						</div>
						<p>
							<a href="#"> topic 1</a>Bootstrap's forms include
						</p>
						<p>
							<a href="#"> topic 1</a>Bootstrap's forms include
						</p>
						<p>
							<a href="#"> topic 1</a>Bootstrap's forms include
						</p>
						<p>
							<a href="#"> topic 1</a>Bootstrap's forms include
						</p>
						<p>
							<a href="#"> topic 1</a>Bootstrap's forms include
						</p>
						<a href="#"> See all....</a>
					</div>
				</div>
			</div>
}
